.skills {
    background-color: #173F35;
    color: #fff;
    padding-top: 120px;
    &__title {
        position: relative;
        text-align: center;
        @include before_circle;
        z-index: 2;
        &:before {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        padding-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        column-gap: 13px;
        row-gap: 13px;
    }
    &__item {
        border: 1px solid #fff;
        &-icon {
            &-special {
                padding-top: 15px;
            }
        }
        &-head {
            padding: 25px 0 0 25px;

        }
        .title {
            padding-top: 20px;
            &__special {
                padding-top: 31px;
            }
        }

        &-body {
            font-size: 12px;
            line-height: 18px;
            padding: 15px 25px 25px 25px;
        }
    } 
}